{% extends "buyer/base.html" %}

{% block content %}
    <!-- 头部结束 -->
      <div class="store">
        <p>商品评论</p>
        <div class="store_box">
        <form method="post" action=""  enctype="multipart/form-data">
           

            <div class="line">
            <label>评价商品</label>
                <select name="" id="" class="input">
                    
                    <option value="" class="input"></option>
                    
                </select>
            </div>
            <div class="line">
                <label>商品评论</label>

                 <input type="text" name="comment_contont" class="input"/>
            </div>


            <div class="line">
                <label></label>
                <input type="submit" value="评论" class="btn"/>
            </div>
        </form>


        </div>
   </div>

{% endblock %}