{% extends "buyer/base.html" %}

{% block content %}
    
    <div class="goods_type">
        <div class="type_list">类别：
           <a href="">全部</a>
            
                    <a href="#">国产</a>
                    <a href="#">进口</a>
           
        </div>
    <div class="type_list_box">

  
            <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/1.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>

              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/2.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/3.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/4.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/5.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/6.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/1.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


              <div class="box_list">
                <dl>
                    <dt><a href="#"><img src="../../static/buyer/images/1.jpg"/></a></dt>
                    <dd align="center">
                        <p>
                        西瓜
                        </p>
                        <p>￥100元</p>
                    </dd>
                </dl>
            </div>


       </div>

    </div>

{% endblock %}