{% extends "buyer/base.html" %}

{% block content %}
    <!-- 头部结束 -->

    <div class="xq">
       <div class="location"><a href="#">我的订单</a> ><a href="">查看订单</a></div>
        <div class="shouhuo">
            <div class="shouhuo_top">收货信息</div>
            <div class="shouhuo_bottom">
                <p>收货人：张三</p>
                <p>联系电话：15200088836</p>
                <p>收货地址：河北省保定市</p>
            </div>
        </div>
        <div class="shouhuo">
            <div class="shouhuo_top">支付以及发货时间</div>
            <div class="shouhuo_bottom">
                <p>支付方式：支付宝</p>
                <p>发货时间：2018年9月9日</p>
            </div>
        </div>
        

        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table1">
        <tr style="height: 50px">
            <td width="20%" align="center">商品</td>
            <td width="20%" align="center">名称</td>
            <td  width="20%" align="center">单价</td>
            <td  width="20%" align="center">数量</td>
            <td  width="20%" align="center">实付金额</td>
            
        </tr>
    </table>

    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table2">
        <tr style="height: 50px" class="table2" >
            <td width="15%" >日期:2018-10-10</td>
            <td width="15%" >订单号:1987647932237</td>
            <td width="70%"></td>
            
        </tr>
    </table>

    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table3" style="border-top:none">



       <tr style="height: 50px;border-top:none" >
            <td width="20%" align="center">
                <a href="" target="_blank">
                    <img src="../../static/buyer/images/4.jpg"/>
                </a>
            </td>
           <td  width="20%" align="center">
               <a href="" target="_blank">西红柿</a>
           </td>
            <td width="20%" align="center"  ><span class="price123">10</span></td>
            <td width="20%" align="center" >10</td>
           <td width="20%" align="center"><span class="price123">100</span></td>
            
           
        </tr>
    </table>

    <p style=" text-align: right; line-height: 50px; font-family:'微软雅黑'; font-size: 20px; ">商品总计：￥100元</p>
   </div>


{% endblock %}









































