{% extends "buyer/base.html" %}

{% block content %}
    
   <div class="store_all">
        <div class="store_left">
            <ul>
               <li style="color: #ffffff;">产品类型</li>
               
                    <li><a href="">进口水果</a></li>
                    <li><a href="">国产水果</a></li>
              
            </ul>

        </div>
        <div class="store_right">
            
            <dl>
                <dt> <a href="#" target="_blank">
                    <img src="../../static/buyer/images/3.jpg"/> </a></dt>
                <dd align="center">
                    <p style="font-size: 18px; font-family: '微软雅黑'; color: #2b542c;">
                       
                            <a href="#" target="_blank">西红柿</a>...
                       
                     </p>
                    <p style="font-family: '微软雅黑'; font-size: 18px; line-height: 50px; color: #eb7350">￥100元</p>
                </dd>
            </dl>
			

			<dl>
                <dt> <a href="#" target="_blank">
                    <img src="../../static/buyer/images/1.jpg"/> </a></dt>
                <dd align="center">
                    <p style="font-size: 18px; font-family: '微软雅黑'; color: #2b542c;">
                       
                            <a href="#" target="_blank">西红柿</a>...
                       
                     </p>
                    <p style="font-family: '微软雅黑'; font-size: 18px; line-height: 50px; color: #eb7350">￥100元</p>
                </dd>
            </dl>

             <dl>
                <dt> <a href="#" target="_blank">
                    <img src="../../static/buyer/images/4.jpg"/> </a></dt>
                <dd align="center">
                    <p style="font-size: 18px; font-family: '微软雅黑'; color: #2b542c;">
                       
                            <a href="#" target="_blank">西红柿</a>...
                       
                     </p>
                    <p style="font-family: '微软雅黑'; font-size: 18px; line-height: 50px; color: #eb7350">￥100元</p>
                </dd>
            </dl>


             <dl>
                <dt> <a href="#" target="_blank">
                    <img src="../../static/buyer/images/5.jpg"/> </a></dt>
                <dd align="center">
                    <p style="font-size: 18px; font-family: '微软雅黑'; color: #2b542c;">
                       
                            <a href="#" target="_blank">西红柿</a>...
                       
                     </p>
                    <p style="font-family: '微软雅黑'; font-size: 18px; line-height: 50px; color: #eb7350">￥100元</p>
                </dd>
            </dl>

             <dl>
                <dt> <a href="#" target="_blank">
                    <img src="../../static/buyer/images/6.jpg"/> </a></dt>
                <dd align="center">
                    <p style="font-size: 18px; font-family: '微软雅黑'; color: #2b542c;">
                       
                            <a href="#" target="_blank">西红柿</a>...
                       
                     </p>
                    <p style="font-family: '微软雅黑'; font-size: 18px; line-height: 50px; color: #eb7350">￥100元</p>
                </dd>
            </dl>
            
        </div>


    </div>

{% endblock %}
